.form {
    /* background-color: #4d4d4d; */
    padding: 1rem;
    width: 20rem;
    /* position: relative; */
    display: block;

    /* margin: 2rem auto;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); */
}

.form label {
    display: block;
    margin-bottom: 0.05rem;
    color: #d2d2d2;
    font-weight: bold;
}

.form input,
.form textarea {
    display: inline-block;
    width: 100%;
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: none;
    background-color: #d2d2d2;
    color: #28262c;
    /* position: relative; */
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.actions button {
    cursor: pointer;
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 4px;
    background-color: #2f2f2f;
    color: #cccccc;
}

.actions button:hover {
    background-color: #181818;
}

.actions a {
    background-color: transparent;
    text-decoration: none;
    color: #cccccc;
    padding-top: 0.5rem;
    /* padding-right: 1.5rem; */
}

.actions a:hover {
    color: #858585;
}

.moviesHeader {
    display: flex;
    align-items: center;
    /* flex-direction: row; */
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--color-background);
}

.form .searchButton {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: auto;
    right: 0;
    padding: 18px 20px;
    margin-right: 10px;
    margin-top: -12px;
    z-index: 2;
}
/* 
.searchButton input:focus {
    color: black;
} */
